* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.blue {
    color: #3cbeb4;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

header {
    padding-top: 20px;
    min-height: 800px;
}

header .main-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}


header .main-menu div{
    display: inline-block;
}

header .main-menu .logo img{
    height: 46px;
}

header .menu ul{
    list-style: none;
    

}

header .menu li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

header .menu li {
    display: inline-block;
    padding: 3px 18px;
}

header .menu {
    margin-top: 20px;
}



.promo {
    padding-top: 250px;
}

.promo h1,h2 {
    text-align: center;
}

.promo h2 {
    font-weight: normal;
    margin-top: 20px;
    font-size: 25px;
}

.promo h1 {
    font-size: 45px;
}

.about {
    min-height: 690px;
}

.about .about-product{
    margin-top: 35px;
}
.about .title-product {
    font-size: 30px;
    text-align: left;
}

.about .container .item .picture {
    /* height: 50px; */
    /* width: 50px; */
    /* background-color:gray; */
    display: flex;
    justify-content:center;
}

.about .items {
    display: flex;
    justify-content: space-between;
}

.about .item div {
    display: inline-block;
}

.about .item {
    width : 24%;
}

.about .item .text {
    text-align: center;
    font-size: 14px;
}

.about .items{
    margin-top: 190px;

}

.about .title-item {
    font-size: 19px;
    margin-top: 10px;
}

.libraries .title-libraries {
    text-align: left;
    font-size: 30px;
    color: #fff;
}

.libraries {
    background-color: #3cbeb4;
    min-height: 350px;
    padding-top: 20px;
}

.list-libraries img {
    height: 50px;
}

/* .list-libraries a {
    margin-right: 20px;
} */

.list-libraries {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.list-libraries a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.abilities {
    padding-top: 20px;
    min-height: 700px;
}

.abilities .title-abilities {
    text-align: left;
    font-size: 30px;
}


/* вставленный блок !!!!! */
.abilities .container .item .picture {
    /* height: 50px; */
    /* width: 50px; */
    /* background-color:gray; */
    display: flex;
    justify-content:center;
}

.abilities .items {
    display: flex;
    justify-content: space-between;
}

.abilities .items2 .items-block{
    display: flex;
    justify-content: space-between;
}

.abilities .item div {
    display: inline-block;
}

.abilities .item {
    width : 32%;
}


.abilities .item .text {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.abilities .title-item {
    font-size: 19px;
}

.abilities .items{
    margin-top: 160px;
}

.abilities .items2 {
    margin-top: 50px;
}

.scripts {
    min-height: 400px;
    padding-top: 20px;
    background-color: #404E59;
    color: #fff;

}

.script-list {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.script-list .script {
    width: 20%;
    margin-right: 10px;
}

.script-list .script:last-child {
    margin-right: 0;
}


.script-list .script h2 {
    font-size: 25px;
}

.scripts .script p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.scripts-title {
    font-size: 30px;
    text-align: left;
}

.interface {
    padding-top: 20px;
    min-height: 900px;
}

.interface h2 {
    text-align: left;
    font-size: 30px;
}

.interface img{
    height: 700px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.interface .pictures {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

footer {
    min-height: 100px;
    color: #fff;
    background-color:#404E59;
    padding-top: 20px;
}

footer img {
    height: 50px;
}

footer h2 {
    font-weight: normal;
    font-size: 25px;

}
